@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: monospace;
}

header{
    position: absolute;
    width: 100%;
    /* z-index: 100; */
    border-bottom: 1px solid grey;
}

header ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li{
    padding: 30px 40px;
    color: rgb(196, 121, 28);
}

header li:active, header li:hover{
    border-bottom: 2px solid white;
}

.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(
        to right, rgb(88, 88, 103), #011C2A);
    overflow: hidden;
}

.slider::before{
    position: absolute;
    width: 50%;
    height: 100vh;
    content: "";
    top: 0;
    left: 0;
    background-color: #E88735;
}

.title{
    font-family: 'Pacifico', cursive;
    position: absolute;
    right: 85%;
    top: 20%;
    width: 10%;
    font-size: 150px;
    line-height: .9em;
    color: white;
    text-shadow: 3px 3px 0 rgb(92, 132, 132);
    transform: rotate(-20deg);
}

.content{
    color: white;
    position: absolute;
    top: 10%;
    left: 60%;
    text-align: justify;
    width: 350px;
}

.content h1{
    color: #E88735;
    font-size: xxx-large;
}

.content button{
    border: none;
    border-radius: 15px;
    background-color: #E88735;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    float: right;
}

.content .item{
    display: none;
}

.content .item.active{
    display: block;
}

/* animation starts here */
    /* animation defined here showContent*/
@keyframes showContent{
    from{
        opacity: 0;
        transform: translateY(100px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}
    /* ends */
.content .item.item.active h1{
    opacity: 0;
    animation: showContent .5s ease-in-out 1 forwards;
}

.content .item.item.active .desc{
    opacity: 0;
    animation: showContent .5s .4s ease-in-out 1 forwards;
}

.content .item.item.active button{
    opacity: 0;
    animation: showContent .5s .6s ease-in-out 1 forwards;
}
/* animation ends here */

.images{
    position: absolute;
    bottom: 0%;
    left: 50%;
    --rotate: 0deg;
    transform: translate(-50%, 50%) rotate(var(--rotate));
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 1px dashed #fff5;
    outline-offset: -100px;
}
.images .item{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    rotate: calc(60deg * var(--i));
}
.images .item img{
    height: 420px;
}
